<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
   
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
     <link rel='stylesheet' href='/stylesheets/style.css' />
     <link rel='stylesheet' href='/fontawesome/css/all.css' />
    <script src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body class="custom-body">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">To-Do App</a>
    </nav>
    <div class="container-fluid">
      {{{body}}}
    </div>
  </body>
</html>
